<mat-card class="product-card">
  <div class="media">
    <img [src]="imgUrl" [alt]="product.name" />
  </div>
  <div class="content">
    <h3 class="name">{{ product.name }}</h3>
    <div class="meta-row">
      <span class="category">{{ product.category }}</span>
      <span class="price">{{ priceLabel }}</span>
    </div>
    <p class="desc">{{ product.description }}</p>

    <div class="actions">
      <span
        class="stock"
        [class.low]="stockStatus === 'low'"
        [class.out]="stockStatus === 'out'"
        [class.in]="stockStatus === 'in'"
      >
        @switch (stockStatus) { @case ('out') { Out of Stock } @case ('low') { Low Stock } @default
        { In Stock } }
      </span>
      <div class="buttons">
        <button type="button" mat-stroked-button (click)="onEdit()">Edit</button>
        <button type="button" mat-stroked-button color="warn" (click)="onDelete()">Delete</button>
      </div>
    </div>
  </div>
</mat-card>
